<ion-header>
  
</ion-header>

<ion-content class="ion-padding" >
  <ion-grid class="ion-padding">
    <ion-img alt="logo" src="../../assets/icon/LOGO-FABRISAC-.jpg"></ion-img>
    <ion-row>
      <ion-col align-self-center class="ion-margin-top">
        <ion-button [routerLink]="['/registration']" expand="block" color="primary">Register</ion-button>
        <span class="ion-text-center">o</span>
        <br>
        <span class="ion-text-center">Ya estas registrado?</span>
        <ion-button [routerLink]="['/login']" expand="block" color="danger">Sign In</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>